---
layout: default
---
<!-- Posts -->
Here are the freequently asked PHP interview questions with answers. For each question there is a detailed explanation
of the answer with useful links to the official documentation. We have tried to include every topic including PHP Basics, functions,
Data Format & Types, Web Features, Object Oriented Programming, Strings & Patterns, Databases & SQL, Arrays, Error Handling, Security and PHP 7.
This questions will be helpful for those who are preparing for Zend certification.

<br />
<br />
<ul id="posts">
	{% for post in paginator.posts %}
	  <li class="post">
	  	<a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</a>
	  </li>
    {% endfor %}
</ul>
